pkgbase = biodiff
	pkgdesc = Hex diff viewer using alignment algorithms from biology
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/8051Enthusiast/biodiff
	arch = x86_64
	license = MIT
	makedepends = cargo
	source = biodiff-1.1.0.tar.gz::https://static.crates.io/crates/biodiff/biodiff-1.1.0.crate
	sha512sums = 1f277c9829a02d734a99c5e5568c38ddee600ef480a06d2b0dc6467a1b040759c0f21a1b533715caf52ec293ea9c1b6506ade8d3fe518f9f2fcc3651aba8a891

pkgname = biodiff
